body{
    
    
    background-image: url(bac9.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
section{
    background-color: rgb(255, 255, 255);
    
    padding: 80px;
    opacity: 0.6;
    
}
